@model Garage3.Models.ParkingPlace

@{
    ViewData["Title"] = "Details";
}

<h1 class="bg-info border rounded-lg font-italic text-light p-4">PARKING PLACE DETAILS</h1>

<div>
    <h4>ParkingPlace</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Arrival)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Arrival)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vehicle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vehicle.Color)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">EDIT</a> |
    <a asp-action="Index" class="text-info">BACK TO THE LIST</a>
</div>
