@model IEnumerable<ParkingPlaceListViewModel>
@inject IVehicleTypeDropdown dropdown

@{
    ViewData["Title"] = "Index";
}

<h1 class="bg-info border rounded-lg font-weight-bold text-light p-4"> PARKING PLACE INDEX</h1>
<form method="get" asp-controller="ParkingPlaces" asp-action="Index" class="text-light bg-info border rounded-lg">
    <div class="input-group mb-3">
        <input type="text" class="form-control" name="regNr" placeholder="Search by registration number..." />
        <div class="input-group-append">
            <select name="vehicleType" asp-items="@dropdown.GetSelectList()" class="form-control">
                <option selected="selected" value="">All types</option>
            </select>
        </div>
        <div class="input-group-append">
            <button type="submit" class="btn btn-info">&#128270;Search</button>
        </div>
    </div>
</form>
<div class="alert text-success font-weight-bold mb-0">@TempData["message"]</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Arrival)<span> </span><a asp-action="Index" asp-route-sortOrder="@ViewData["ArrivalSortParm"]" class="text-info">&#8645;</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VehicleRegistrationNumber)<span> </span><a asp-action="Index" asp-route-sortOrder="@ViewData["RegNrSortParm"]" class="text-info">&#8645;</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Username)<span> </span><a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" class="text-info">&#8645;</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VehicleTypeName)<span> </span><a asp-action="Index" asp-route-sortOrder="@ViewData["VTypeSortParm"]" class="text-info">&#8645;</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Arrival)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VehicleRegistrationNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VehicleTypeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Duration)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="text-info">EDIT</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="text-info">DETAILS</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="text-info">CHECKOUT</a>
                </td>
            </tr>
        }
    </tbody>
</table>
