@model IEnumerable<ParkingPlaceListViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1 class="bg-info border rounded-lg font-weight-bold text-light p-4"> PARKING PLACE INDEX</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ParkingSpot)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Arrival)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VehicleRegistrationNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VehicleType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ParkingSpot)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Arrival)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VehicleRegistrationNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VehicleType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="text-info">EDIT</a> |
                <a asp-action="Details" asp-route-id="@item.Id" class="text-info">DETAILS</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" class="text-info">CHECKOUT</a>
            </td>
        </tr>
}
    </tbody>
</table>
