@model IEnumerable<UserListViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1 class="bg-info border rounded-lg font-weight-bold text-light p-4">USER LIST</h1>
<form method="get" asp-controller="Users" asp-action="Index" class="text-light bg-info border rounded-lg">
    <div class="input-group mb-3">
        <input type="text" class="form-control" name="fullname" placeholder="Search by name..." />
        @*<div class="input-group-append">
                <select asp-for="Color" asp-items="@Model." class="form-control">
                    <option selected="selected" value="">Color</option>
                </select>
            </div>*@
        <div class="input-group-append">
            <button type="submit" class="btn btn-info">&#128270;Searchs</button>
        </div>
    </div>
</form>
<!--
<form class="text-light bg-info border rounded-lg" asp-action="Filter">
    <div class="input-group m-auto">
        <input type="text" name="FirstName" class="form-control" placeholder="Search on First Name" />
        <div class="input-group-append">
            <input type="text" name="LastName" class="form-control" placeholder="Search on Last Name" />
        </div>
        <div class="input-group-append">
            <button type="submit" class="btn btn-dark "><i class="fa fa-search">&emsp;Search</i></button>
        </div>

    </div>
</form>
-->

<div class="btn-group col-sm-6 col mr-4">
    <a class="btn btn-dark " asp-controller="Users" asp-action="Add">NEW USER</a>
</div>

   <div class="alert text-success font-weight-bold mb-0">@TempData["message"]</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullName)<span> </span><a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" class="text-info">&#8645;</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)<span> </span><a asp-action="Index" asp-route-sortOrder="@ViewData["AgeSortParm"]" class="text-info">&#8645;</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)<span> </span><a asp-action="Index" asp-route-sortOrder="@ViewData["EmailSortParm"]" class="text-info">&#8645;</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VehicleCount)<span> </span><a asp-action="Index" asp-route-sortOrder="@ViewData["VCountSortParm"]" class="text-info">&#8645;</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VehicleCount)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="text-info">EDIT</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="text-info">DETAILS</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="text-info">DELETE</a> |
                    <a asp-controller="Vehicles" asp-action="Add" asp-route-id="@item.Id" class="btn-outline-dark">ADD VEHICLE</a>
                </td>
            </tr>
        }
    </tbody>
</table>
