@model IEnumerable<Garage3.Models.Vehicle>

@{
    ViewData["Title"] = "Index";
}

<h1 class="bg-info border rounded-lg font-italic text-light p-4">VEHICLES</h1>

    <div class="btn-group col-sm-6 col mr-5">
        <a class="btn btn-outline-info " asp-action="Add">NEW VEHICLE</a>
    </div>

   

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Wheels)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegistrationNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Manufacturer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VehicleModel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VehicleType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Wheels)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RegistrationNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Manufacturer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Color)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VehicleModel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VehicleType.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Id)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">EDIT</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">DETAILS</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">DELETE</a>
                </td>
            </tr>
        }
    </tbody>
</table>
